<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="./tools/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="./tools/bower_components/select2/dist/css/select2.min.css">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="CloseModal()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">แก้ไขข้อมูล คุณ : {{Name}}</h4>
        </div>
        <div class="modal-body">
            <div class="box-body no-padding">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>ประเภทการลา:</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control select2" style="width: 100%;" ng-change="changeSelectedItem()"
                                    ng-model="LeaveTSelect" id="LeaveTupdate">
                                <option ng-repeat="leaveT in LeaveType" ng-selected="LeaveTSelect == leaveT.Leave_Type"
                                        value="{{leaveT.Leave_Type}}">{{leaveT.Leave_Detail}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <!-- time Picker -->
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-3" style="text-align: center">
                                <label>วันที่เริ่มต้นการลา:</label>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker"
                                               ng-model="DateStart" style="text-align: center" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control select2" style="width: 100%;text-align-last:center;"
                                            id="DayTypeS" ng-model="LeaveS_Select">
                                        <option ng-selected="LeaveS_Select == 'เต็มวัน'" value="เต็มวัน">เต็มวัน
                                        </option>
                                        <option ng-selected="LeaveS_Select == 'ครึ่งวัน (เช้า)'"
                                                value="ครึ่งวัน (เช้า)">ครึ่งวัน (เช้า)
                                        </option>
                                        <option ng-selected="LeaveS_Select == 'ครึ่งวัน (บ่าย)'"
                                                value="ครึ่งวัน (บ่าย)">ครึ่งวัน (บ่าย)
                                        </option>
                                    </select>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- /.form group -->
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>วันที่สิ้นสุดการลา:</label>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-8">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker2"
                                           ng-model="DateEnd" style="text-align: center" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control select2" style="width: 100%;text-align-last:center;"
                                        id="DayTypeE" ng-model="LeaveE_Select">
                                    <option ng-selected="LeaveE_Select == 'เต็มวัน'" value="เต็มวัน">เต็มวัน</option>
                                    <option ng-selected="LeaveE_Select == 'ครึ่งวัน (เช้า)'" value="ครึ่งวัน (เช้า)">
                                        ครึ่งวัน (เช้า)
                                    </option>
                                    <option ng-selected="LeaveE_Select == 'ครึ่งวัน (บ่าย)'" value="ครึ่งวัน (บ่าย)">
                                        ครึ่งวัน (บ่าย)
                                    </option>
                                </select>
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>เหตุผล:</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" style="resize:none" rows="5" ng-model="Details"
                                      placeholder="เหตุผลการลา..." id="LeaveR"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>จำนวนวัน:</label>
                        </div>
                        <div class="col-md-9">
                            <label style="text-align: center; vertical-align: middle;color:royalblue;font-weight: bold;">{{DayAllLeave}}
                                วัน</label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>เป็นวันทำการ:</label>
                        </div>
                        <div class="col-md-9">
                            <label style="text-align: center; vertical-align: middle;color:royalblue;font-weight: bold;">{{DayWorkLeave
                                | NumDeci}} วัน</label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>สถานะ:</label>
                        </div>
                        <div class="col-md-9">
                            <label style="text-align: center; vertical-align: middle;color:royalblue;font-weight: bold;"
                                   ng-show="Status == '0'">รอการพิจารณา</label>
                            <label style="text-align: center; vertical-align: middle;color:#00E5FF;font-weight: bold;"
                                   ng-show="Status == '1'">อนุมติ</label>
                            <label style="text-align: center; vertical-align: middle;color:red;font-weight: bold;"
                                   ng-show="Status == '2'">ไม่อนุมติ</label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label>วันที่บันทึกข้อมูล:</label>
                        </div>
                        <div class="col-md-9">
                            <label style="text-align: center; vertical-align: middle;color:royalblue;font-weight: bold;">{{DateCreate}}</label>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label style="color: green">วันทำการ:</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control select2" style="width: 100%;text-align-last:center;" id="DayOff"
                                    ng-model="DayOff"
                                    ng-disabled="LeaveTSelect == '0' || LeaveTSelect == '1' || LeaveTSelect == '2' || LeaveTSelect == '5'">
                                <option value="1">นับเป็นวันปฎิบัติงานคณะแพทยศาสตร์</option>
                                <option value="0">ไม่นับเป็นวันปฎิบัติงานคณะแพทยศาสตร์</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-3" style="text-align: center">
                            <label style="color: green">ผลการอนุมัติ:</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control select2" style="width: 100%;text-align-last:center;" id="Status"
                                    ng-model="Status">
                                <option value="1">อนุมติ</option>
                                <option value="2">ไม่อนุมติ</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="CloseModal()">ปิดหน้าต่าง</button>
            <button type="button" class="btn btn-warning pull-right" ng-click="UpdateLeaveData()">แก้ไขข้อมูล</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {
            'placeholder': 'dd/mm/yyyy'
        })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', {
            'placeholder': 'mm/dd/yyyy'
        })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            format: 'MM/DD/YYYY h:mm A'
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1,
                        'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format(
                    'MMMM D, YYYY'))
            }
        )

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })

        //Date picker
        $('#datepicker2').datepicker({
            autoclose: true
        })

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()


    })
</script>
