<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="./tools/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="./tools/bower_components/select2/dist/css/select2.min.css">

<div class="modal-dialog modal-notice">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                style="font-weight: bold;color: rgba(185,140,130,0.99);font-size: 20px">
                บันทึกข้อมูลการปฏิบัติงาน Work From Home</h5>
            <button type="button" class="close" ng-click="cancel()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <p style="text-align: center;color: teal;font-weight: bold">รายชื่อบุคลากร</p>
        <div class="row" style="margin-bottom: 25px">
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-8 col-sm-12">
                <select class="form-control select2" style="width: 100%;" ng-model="PrsonSelectWFH"
                        ng-change="checkComment()" id="PersonCodeWFH">
                    <option ng-repeat="perDep in personWFH" value="{{perDep.PERID}}">{{perDep.NAME}}
                        {{perDep.SURNAME}}
                    </option>
                </select>
            </div>
            <div class="col-md-2 col-sm-0"></div>
        </div>
        <div class="modal-body" ng-show="ShowWorkFromHome">
            <p style="text-align: center;color: teal;font-weight: bold">เวลาเริ่มปฏิบัติงาน</p>
            <div class="row" align="center">
                <div class="col-md-1 col-sm-0"></div>
                <div class="col-md-10 col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control timepicker" style="text-align: center"
                               id="WFH_Time_I" value="8:30" readonly="readonly">
                        <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"
                            style="background-color: antiquewhite" ng-click="GetTimeCurrent_In()"><i
                            class="fa fa-clock-o"><span
                            style="font-weight: bold;color: rgba(103,131,185,0.99);margin-left: 10px">เวลาปัจจุบัน</span></i>
                    </button>
                </span>
                    </div>
                </div>
                <div class="col-md-1 col-sm-0"></div>
            </div>
            <p style="text-align: center;color: teal;font-weight: bold;margin-top: 20px">
                เวลาสิ้นสุดการปฏิบัติงาน</p>
            <div class="row" align="center">
                <div class="col-md-1 col-sm-0"></div>
                <div class="col-md-10 col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control timepicker" style="text-align: center"
                               id="WFH_Time_O" value="16:30" readonly="readonly">
                        <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"
                            style="background-color: antiquewhite" ng-click="GetTimeCurrent_Out()"><i
                            class="fa fa-clock-o"><span
                            style="font-weight: bold;color: rgba(103,131,185,0.99);margin-left: 10px">เวลาปัจจุบัน</span></i>
                    </button>
                </span>
                    </div>
                </div>
                <div class="col-md-1 col-sm-0"></div>
            </div>
        </div>
        <hr ng-show="ShowWorkFromHome"/>
        <div class="modal-footer justify-content-center" ng-show="ShowWorkFromHome">
            <button type="button" class="btn btn-info btn-round" style="margin: 10px" ng-click="SaveWFH()">
                บันทึกข้อมูลการปฏิบัติงาน ณ {{DateSelect | DateTimeLine}}
            </button>
            <button type="button" class="btn btn-danger btn-round" style="margin: 10px" ng-click="cancel()">ปิดหน้าต่าง
            </button>
        </div>

        <div class="modal-body" ng-show="!ShowWorkFromHome">
            <div align="center">
                <h1 style="font-weight: bold;color: brown">ข้อมูลการปฏิบัติงานประจำวันที่ {{Date |
                    DateTimeLine}}
                    ถูกบันทึกข้อมูลเรียบร้อยแล้ว</h1>
            </div>
        </div>
        <hr ng-show="!ShowWorkFromHome"/>
        <div class="modal-footer justify-content-center" ng-show="!ShowWorkFromHome">
            <button type="button" class="btn btn-danger btn-round" style="margin: 10px" ng-click="cancel()">ปิดหน้าต่าง
            </button>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false,
            showMeridian: false,
            minuteStep: 1
        })


    })
</script>
