<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="./tools/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="./tools/bower_components/select2/dist/css/select2.min.css">

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <div class="col-md-7">
                <h4 class="modal-title">ข้อมูลการเข้าปฏิบัติงาน</h4>
                <h4 class="modal-title">คุณ : <span style="font-weight:bold">{{Modalname}}</span></h4>
                
            </div>
            <div class="col-md-5" style="text-align: center">
                <a class="btn btn-app" style="color: red;width: 20px" ng-if="!EditDataPerson && statusAdmin" ng-click="UpdateAbsenceData()">
                    <i class="fa fa-save"></i> บันทึกขาดงาน
                </a>
                <a class="btn btn-app" style="color: green" ng-if="!EditDataPerson && statusAdmin" ng-click="EditData(true)">
                    <i class="fa fa-edit"></i> แก้ไข
                </a>
                <a class="btn btn-app" style="color: green" ng-if="EditDataPerson && statusAdmin" ng-click="UpdateApproveData()">
                    <i class="fa fa-save"></i> บันทึก
                </a>
                <a class="btn btn-app" style="color: green" ng-if="EditDataPerson && statusAdmin" ng-click="EditData(false)">
                    <i class="fa fa-sign-out"></i> ยกเลิก
                </a>
            </div>
        </div>
        <div class="modal-body">
            <div class="box-body no-padding">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-5" style="text-align: center">
                            <label>วันที่:</label>
                        </div>
                        <div class="col-md-7" align="center">
                            <label style="font-size: 20px;color: green;">{{Date_Person | DateThai}}</label>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;" />
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>เวลาเข้างาน :</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_TIN2)"></div>
                                </label>
                                <div class="input-group" ng-show="EditDataPerson">
                                    <input type="text" class="form-control timepicker" style="text-align: center" id="E_TimeIN2" autocomplete="off" ng-disabled="LeaveCheckIn">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>สแกน ณ ประตู:</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_DIN2)"></div>
                                </label>
                                <div ng-show="EditDataPerson">
                                    <select class="form-control select2" style="width: 100%;" ng-model="DoorS_Timein2" ng-change="update()" id="DoorS_Timein2" ng-disabled="LeaveCheckIn">
                                        <option ng-repeat="door in DoorArr" ng-selected="DoorS_Timein2 == door.door_id" value="{{door.door_id}}">{{door.door_name}} :
                                            รหัสประตู: {{door.dev_sn}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;" />
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-5" style="text-align: center">
                            <label>เวลาออก (พักเที่ยง):</label>
                        </div>
                        <div class="col-md-7" align="center">
                            <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                <div ng-bind-html="htmlTrusted(Date_P_THO)"></div>
                            </label>
                            <div class="input-group" ng-show="EditDataPerson">
                                <input type="text" class="form-control timepicker" style="text-align: center" id="E_TimeHO" autocomplete="off" ng-disabled="LeaveCheckHo">

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>สแกน ณ ประตู:</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_DHO)"></div>
                                </label>
                                <div ng-show="EditDataPerson">
                                    <select class="form-control select2" style="width: 100%;" ng-model="DoorS_Timeho" ng-change="update()" id="DoorS_Timeho" ng-disabled="LeaveCheckHo">
                                        <option ng-repeat="door in DoorArr" ng-selected="DoorS_Timeho == door.door_id" value="{{door.door_id}}">{{door.door_name}} :
                                            รหัสประตู: {{door.dev_sn}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;" />
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>เวลาเข้า (พักเที่ยง):</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_THN)"></div>
                                </label>
                                <div class="input-group" ng-show="EditDataPerson">
                                    <input type="text" class="form-control timepicker" style="text-align: center" id="E_TimeHN" autocomplete="off" ng-disabled="LeaveCheckHn">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>สแกน ณ ประตู:</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_DHN)"></div>
                                </label>
                                <div ng-show="EditDataPerson">
                                    <select class="form-control select2" style="width: 100%;" ng-model="DoorS_Timehn" ng-change="update()" id="DoorS_Timehn" ng-disabled="LeaveCheckHn">
                                        <option ng-repeat="door in DoorArr" ng-selected="DoorS_Timehn == door.door_id" value="{{door.door_id}}">{{door.door_name}} :
                                            รหัสประตู: {{door.dev_sn}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;" />
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>เวลาออกงาน:</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_TO2)"></div>
                                </label>
                                <div class="input-group" ng-show="EditDataPerson">
                                    <input type="text" class="form-control timepicker" style="text-align: center" id="E_TimeOUT2" autocomplete="off" ng-disabled="LeaveCheckOut">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <div class="col-md-5" style="text-align: center">
                                <label>สแกน ณ ประตู:</label>
                            </div>
                            <div class="col-md-7" align="center">
                                <label style="font-size: 16px;color: green;" ng-show="!EditDataPerson">
                                    <div ng-bind-html="htmlTrusted(Date_P_DO2)"></div>
                                </label>
                                <div ng-show="EditDataPerson">
                                    <select class="form-control select2" style="width: 100%;" ng-model="DoorS_Timeout2" ng-change="update()" id="DoorS_Timeout2" ng-disabled="LeaveCheckOut">
                                        <option ng-repeat="door in DoorArr" ng-selected="DoorS_Timeout2 == door.door_id" value="{{door.door_id}}">{{door.door_name}} :
                                            รหัสประตู: {{door.dev_sn}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid black;" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-right" ng-click="cancel()">ปิดการแสดงข้อมูล</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: true,
            showMeridian: false,
            minuteStep: 1
        })


    })
</script>