<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="./tools/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="./tools/bower_components/select2/dist/css/select2.min.css">

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <div class="col-md-7">
                <h4 class="modal-title">แก่ไขข้อมูลการเข้าปฏิบัติงาน</h4>
                <h4 class="modal-title">วันที่ : <span style="font-weight:bold">{{DateSelect | DateThai}}</span></h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="box-body no-padding">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6" align="center">
                                    <button class="btn btn-info" ng-if="CheckInData" ng-click="switchCheckIn()">เข้าปฏิบัติงาน</button>
                                    <button class="btn btn-default" ng-if="!CheckInData" ng-click="switchCheckIn()">เข้าปฏิบัติงาน</button>
                                </div>
                                <div class="col-12 col-md-6" align="center">
                                    <button class="btn btn-info" ng-if="CheckOutData" ng-click="switchCheckOut()">ออกปฏิบัติงาน</button>
                                    <button class="btn btn-default" ng-if="!CheckOutData" ng-click="switchCheckOut()">ออกปฏิบัติงาน</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- The time line -->
                                    <ul class="timeline" ng-repeat="DateItem in DataTimeLine2">
                                        <!-- timeline time label -->
                                        <li class="time-label">
                                                          <span class="bg-red" style="margin-top: 18px">
                                                            {{DateItem.DateDB | DateTimeLine}}
                                                          </span>
                                            <span>
                                                            {{DateItem.DateName | NameTh}}
                                                          </span>
                                            <span style="color: red;font-weight: bold"
                                                  ng-if="DateItem.DateOffName != ''">
                                                            ({{DateItem.DateOffName}})
                                                          </span>
                                        </li>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <li ng-repeat="TimeLine in DateItem.TimeLine">
                                            <i class="fa fa-clock-o bg-aqua"></i>

                                            <div class="timeline-item" style="cursor: pointer" ng-click="CheckIn(DateItem, $index)">
                                                <span class="time"><i class="fa fa-clock-o"></i></span>

                                                <h3 class="timeline-header"><a
                                                        class="btn btn-primary btn-xs"
                                                        style="font-size: 16px;background-color: azure;"><i
                                                        class="fa fa-clock-o" style="color:red"></i>
                                                    <span style="color: black"> {{TimeLine.event_time.split(' ')[1]}} น.</span></a>
                                                    <span ng-if="TimeLine.CheckIn" style="margin-left: 15px;font-weight: bold;color: blue"><i class="fa fa-arrow-left" aria-hidden="true"></i> เข้าปฏิบัติงาน ประจำวันที่ {{DateSelect | DateThai}}</span>
                                                    <span ng-if="TimeLine.CheckOut" style="margin-left: 15px;font-weight: bold;color: red"><i class="fa fa-arrow-left" aria-hidden="true"></i> ออกปฏิบัติงาน ประจำวันที่ {{DateSelect | DateThai}}</span>
                                                </h3>
                                                <h3 class="timeline-header"><a
                                                        class="btn btn-primary btn-xs"
                                                        style="font-size: 16px;background-color: azure;"><i
                                                        class="fa fa-building"
                                                        style="color:orangered"></i> <span
                                                        style="color: black">ประตู : {{FindDoor(TimeLine.door_id)}}</span></a>
                                                </h3>
                                            </div>
                                        </li>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->

                                        <li>
                                            <i class="fa fa-stop bg-red"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-3">
                    <button type="button" class="btn btn-success pull-right" ng-click="submitEditTime()" ng-disabled="CheckOnclick">บันทึกข้อมูล</button>
                </div>
                <div class="col-12 col-md-3">
                    <button type="button" class="btn btn-danger pull-right" ng-click="cancel()">ปิดการแสดงข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: true,
            showMeridian: false,
            minuteStep: 1
        })
    })
</script>